<a href="https://colab.research.google.com/github/thucuyen127/pycharm/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import csv
import numpy as np

Khởi tạo seri

In [7]:
with open('writeData.csv', mode='w') as file:
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(['NAME', 'AGE', 'Class'])
    writer.writerow(['Duy', '12','B1'])
    writer.writerow(['Ngan', '19','B2'])
    writer.writerow(['Uyen', '14', 'B3'])
    writer.writerow(['Tham', '12','B4'])
    writer.writerow(['Hien', '18', 'B5'])
    writer.writerow(['Thanh', '19','B6'])

result = pd.read_csv('writeData.csv')
print(result)
print('-'*50)

    NAME  AGE Class
0    Duy   12    B1
1   Ngan   19    B2
2   Uyen   14    B3
3   Tham   12    B4
4   Hien   18    B5
5  Thanh   19    B6
--------------------------------------------------

Sorting,Combine Dataframes,Dùng concat,merge, join

In [13]:
s = pd.Series([np.nan, 124, 332, 110, 511]) #cho ra 1 kết quả theo thứ tự: NaN, 124.0, 332.0, 110.0, 511.0
t = s.sort_values(ascending=True) #Sắp xếp lại theo thứ tự tăng dần: 124.0, 332.0, 511.0, 110.0/False thì ngược lại
print(t)
print('-'*50)


dict_data = {'Treatment': ['C', 'C', 'C'], 'Biorep': ['A', 'A', 'A'], 'Techrep': [1, 1, 1], 'AAseq': ['ELVISLIVES', 'ELVISLIVES', 'ELVISLIVES'], 'mz':[500.0, 500.5, 501.0]}
df_a = pd.DataFrame(dict_data)
dict_data = {'Treatment1': ['C', 'C', 'C'], 'Biorep1': ['A', 'A', 'A'], 'Techrep1': [1, 1, 1], 'AAseq1': ['ELVISLIVES', 'ELVISLIVES', 'ELVISLIVES'], 'inte1':[1100.0, 1050.0, 1010.0]}
df_b = pd.DataFrame(dict_data)

pd.concat([df_a,df_b], axis=1)
df_a.merge(df_b, left_index=True, right_index=True)
print('-'*50)

3    110.0
1    124.0
2    332.0
4    511.0
0      NaN
dtype: float64
--------------------------------------------------
--------------------------------------------------

Đọc csv, json,....

In [ ]:
Doc = pd.read_csv('Filecsv.csv') #Đọc file csv trong máy
print(doc.head()) 
td = 'https://data.cese.nsw.gov.au/data/dataset/f0880fef-1dc8-37e3-905b-d2b015375510/resource/f794e36a-91e3-422a-beda-9ba8d2e9a58e/download/table-21-2019-enrolments-in-year-10-subjects.csv'
data = pd.read_csv(td) #đọc file csv trên mạng 
print(data.head())
js = 'https://data.cese.nsw.gov.au/data/dataset/1a8ee944-e56c-3480-aaf9-683047aa63a0/resource/64f0e82f-f678-4cec-9283-0b343aff1c61/download/headcount.json'
datat = pd.read_json(js) #đọc file json trên mạng
print(datat.head())
print('-'*50)

Tính thống kê: min, max, avg

In [16]:
data = {'Month': ['Jan ','Feb ','Mar ','Apr ','May ','Jun '],
        'Jon Commission': [7000,5500,6000,4500,8000,6000],
        'Maria Commission': [10000,7500,6500,6000,9000,8500], 
        'Olivia Commission': [3000,6000,4500,4500,4000,5500]} 
df = pd.DataFrame(data,columns=['Month','Jon Commission','Maria Commission','Olivia Commission']) #tạo dataframe 
avg_columns = df.mean(axis=0) #Thu nhập trung bình từ nhiệm vụ trong 6 tháng
max_columns = df.max(axis=0) #Thu nhập cao nhất từ nhiệm vụ trong 6 tháng
min_columns = df.min(axis=0) #Thu nhập thấp nhất từ nhiệm vụ trong 6 tháng
print(min_columns)
print(max_columns)
print(avg_columns)

Month                Apr
Jon Commission       4500
Maria Commission     6000
Olivia Commission    3000
dtype: object
Month                 May
Jon Commission        8000
Maria Commission     10000
Olivia Commission     6000
dtype: object
Jon Commission       6166.666667
Maria Commission     7916.666667
Olivia Commission    4583.333333
dtype: float64