<a href="https://colab.research.google.com/github/thucuyen127/pycharm/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [26]:
import pandas as pd
import numpy as np

sr1 = pd.Series([1, 22, 13, 400, 50, 6, 7, 80, 69, 11])
print(sr1)

0      1
1     22
2     13
3    400
4     50
5      6
6      7
7     80
8     69
9     11
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [24]:
dic = {'Duy': 1, 'Ngan': 2, 'Hien': 3, 'Thanh': 4, 'Tham': 5}

sr2 = pd.Series(dic)
print(sr2)

Duy      1
Ngan     2
Hien     3
Thanh    4
Tham     5
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [27]:
sr1.index = ['Ua', 'Uk', 'Dc', 'Dd', 'Ne', 'Nf', 'Nk', 'Tj', 'Tk', 'Tl']
print(sr1)

Ua      1
Uk     22
Dc     13
Dd    400
Ne     50
Nf      6
Nk      7
Tj     80
Tk     69
Tl     11
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [8]:
print(sr2[4])

5

In [ ]:
Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [28]:
print(sr1['Tk'])

69

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [29]:
sr1[[name.endswith('k') for name in sr.index]]

Uk    22
Nk     7
Tk    69
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [30]:
sr1.name = 'Gia_tri'
sr1.index.name = 'STT'
sr1

STT
Ua      1
Uk     22
Dc     13
Dd    400
Ne     50
Nf      6
Nk      7
Tj     80
Tk     69
Tl     11
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [31]:

np.log(sr1)

STT
Ua    0.000000
Uk    3.091042
Dc    2.564949
Dd    5.991465
Ne    3.912023
Nf    1.791759
Nk    1.945910
Tj    4.382027
Tk    4.234107
Tl    2.397895
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [32]:
sr1[sr1>15]

STT
Uk     22
Dd    400
Ne     50
Tj     80
Tk     69
Name: Gia_tri, dtype: int64